/*CSS reset*/
 html{_text-overflow:ellipsis; height:100%;}
html,body{color:#333;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var,i,b{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6,b{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}sub{bottom:-0.25em;}
img,input,select{vertical-align:middle;display:inline-block;}
embed,object,a,button,input,select,textarea{outline:none;}
html,body{_height:100%;min-height:100%;}
body,button,input,select,textarea{font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,\5b8b\4f53;}
input,select,textarea{font-size:100%;}
input,textarea,a{outline: none;font-family:'Microsoft YaHei UI','Microsoft YaHei',"微软雅黑","宋体",Arial,Helvetica,sans-serif,SimSun,'Segoe UI',Tahoma,Helvetica,Sans-Serif; }
table,table tr td{ border-collapse:collapse; border-spacing:0;}
input, select, label {vertical-align: middle;font-family:'Microsoft YaHei UI','Microsoft YaHei',"微软雅黑","宋体",Arial,Helvetica,sans-serif,SimSun,'Segoe UI',Tahoma,Helvetica,Sans-Serif; outline:none;}
input[type="button"]{ cursor:pointer;}
fieldset,img{border:0;}
img{vertical-align:top;}

ins,a{text-decoration:none;}
a{outline:none;color:#333;}
input::-moz-focus-inner{border:0;}/*火狐虚线框*/
a:hover{text-decoration:underline;}

.nav_banner img{opacity: 1!important;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow:0 0 0 60px #fff inset;
    -webkit-text-fill-color: #333;
}
/**动画封装*/
@-webkit-keyframes rock{
	0%{transform:rotate(0deg);}
	5%{transform:rotate(3deg);}
    10%{transform:rotate(-4deg);}
    15%{transform:rotate(3deg);}
    20%{transform:rotate(-2deg);}
    25%{transform:rotate(1deg);}
    30%{transform:rotate(-1deg);}
    70%{transform:rotate(0deg);}
    100%{transform:rotate(0deg);}
}

@-webkit-keyframes breathe{
	0%{
		-webkit-transform:scale(0.5);
		-webkit-opacity:.9;
	}
	95%{
		-webkit-transform:scale(1.5);
		-webkit-opacity:0;
	}
	100%{
		-webkit-transform:scale(0.9);
		-webkit-opacity:0;
	}

}
.section{position: relative;overflow: hidden;}
.section_header { position: relative;width: 100%;overflow: hidden;background-size: cover;background-position: center center;z-index: 1;}
.hs1{color:#fff;font-size:30px;position: absolute;z-index: 10;overflow: hidden;left:50%;top:40%;margin-left:-150px;transition:all 1s;padding: 10px 40px;
  border: 10px double #f9f1e9;color: #f9f1e9;text-align: center;-webkit-animation:rock 2s infinite 2s;}

.section h3{text-align:center;color:#fff;font-size:40px;position: absolute;z-index: 10;opacity:0;overflow: hidden;width:512px;height:50px;line-height:50px;left:50%;top:10%;margin-left:-250px;transition:all 1s;transform:scale(0.5,0.5);-webkit-transform:scale(0.5,0.5);}
.active h3{opacity: 1;transform:scale(1,1);-webkit-transform:scale(1,1);transition-delay:0.7s;}
.section4 h3{color:#d6e7ee;}
.bg1,.bg2,.bg3,.bg4,.bg5,.bg6,.bg7,.bg8,.bg9,.bg10{width:100%;height:100%;position: absolute;top:0;left:0;z-index:1;}
.bg1 img{width:100%;height: 100%;}
.bg2 img{width:100%;height: 100%;}
.bg3 img{width:100%;height: 100%;}
.bg4 img{width:100%;height: 100%;}
.bg5 img{width:100%;height: 100%;}
.bg6 img{width:100%;height: 100%;}
.bg7 img{width:100%;height: 100%;}
.bg8 img{width:100%;height: 100%;}
.bg9 img{width:100%;height: 100%;}
.bg10 img{width:100%;height: 100%;}

.active{}
.bg11,.bg12,.bg13,
.bg21,.bg22,.bg23,
.bg31,.bg32,.bg33,.bg34
.bg41,.bg42,.bg43,
.bg51,.bg52,.bg53,.bg54,
.bg61,.bg62,
.bg71,.bg72,.bg73,.bg74,
.bg81,.bg82,.bg83,.bg84,
.bg91,.bg92,.bg93,
.bg101,.bg102,.bg103
{position: absolute;left:0;transition:all 1s;opacity: 0;}
.bg11{background: url('../images/bg11.png') no-repeat center top;z-index:2;}
.bg12{background: url('../images/bg12.png') no-repeat center top;height:392px;bottom:-392px;z-index:3;}
.bg13{background: url('../images/bg13.png') no-repeat center top;height:377px;bottom:-377px;z-index:4;}

.active .bg11{bottom:0;opacity: 1;transition-delay: 0.7s;}
.active .bg12{bottom:0;opacity: 1;transition-delay: 0.7s;}
.active .bg13{bottom:0;opacity: 1;transition-delay: 0.7s;}


.bg21{width: 819px;height: 250px;background: url('../images/bg21.png') no-repeat center top;z-index:2;left:50%;margin-left:-1108px;}
.bg22{width: 819px;height: 299px;background: url('../images/bg22.png') no-repeat center top;z-index:3;left:50%;margin-left: 320px;}
.bg23{width: 819px;height: 325px;background: url('../images/bg23.png') no-repeat center top;z-index:4;bottom:-325px;}
.bg24{position:absolute;z-index:5;bottom:0;opacity: 0;left:50%;margin-left:-265px;}
.active .bg21{margin-left:-890px;opacity: 1;transition-delay: 0.7s;}
.active .bg22{margin-left:80px;opacity: 1;transition-delay: 0.7s;}
.active .bg23{bottom:-10px;opacity: 1;transition-delay: 0.7s;}
.active .bg24{left:50%;margin-left:-265px;bottom:10%;opacity: 1;transition-delay: 0.7s;}



.bg31{  width: 892px;height: 472px;background: url('../images/bg31.png') no-repeat center top;z-index:2;left:50%;margin-left:-390px;bottom:0;margin-bottom: 80px;}
.bg32{  width: 892px;height: 472px;background: url('../images/bg32.png') no-repeat center bottom;z-index:3;left:50%;bottom:0;}
.bg33{width: 441px;height: 380px;background: url('../images/bg33.png') no-repeat center top;z-index:4;left:50%;margin-left: 50%;bottom:0;}
.bg34{ position: absolute; z-index:6;width: 300px; left: 50%; top: 15%; margin-top: 150px; margin-left: -100%; font-size: 16px; color: #FFFDE1; opacity: 0; transition: all 1s;}
.active .bg31{margin-top:-18%;opacity: 1;transition-delay: 0.7s;}
.active .bg32{margin-left:-150px;opacity: 1;transition-delay: 0.7s;}
.active .bg33{margin-left:-120px;opacity: 1;transition-delay: 0.7s;}
.active .bg34{margin-left: -480px;opacity: 1;transition-delay: 0.7s;}


.bg41{width: 100%;height: 372px;background: url('../images/bg41.png') no-repeat center center;z-index:2;bottom:-372px;}
.bg42{width: 1156px;height: 449px;background: url('../images/bg42.png') no-repeat center center;z-index:4;left:50%;margin-left:-550px;bottom:-449px}
.bg43{width: 100%;height: 449px;background: url('../images/bg43.png') no-repeat center center;z-index:3;bottom:-248px}
.bg42 a{display: inline-block;width:10%;position: absolute;font-size: 14px;color:#333;color:#fff;}
.bg42 a:hover{text-decoration: underline;}
.bg42 .bg42_a1{left:95px;top:110px;}
.bg42 .bg42_a2{left:375px;top:320px;}
.bg42 .bg42_a3{left:710px;top:200px;}
.bg42 .bg42_a4{left:970px;top:120px;}
.active .bg41{bottom:10%;opacity: 1;transition-delay: 0.7s;}
.active .bg42{bottom:10%;opacity: 1;transition-delay: 1.1s;}
.active .bg43{bottom:10%;opacity: 1;transition-delay: 0.9s;}

.bg51,.bg52,.bg53,.bg54{width:208px;line-height:20px;left:50%;padding-top: 200px;bottom: 15%;color:#fff;font-size: 14px;text-align: center;}
.section5 h4{font-size:23px;font-weight: 500;height: 35px;}
.section5 a{text-decoration: none;color:#fff;font-size: 14px;}
.section5 a:hover{text-decoration: underline;}
.bg51{background: url('../images/bg51.png') no-repeat center top;z-index:1;margin-left: -851px;}
.bg52{background: url('../images/bg52.png') no-repeat center top;z-index:1;margin-left: -851px;}
.bg53{background: url('../images/bg53.png') no-repeat center top;z-index:1;margin-left: 651px;}
.bg54{background: url('../images/bg54.png') no-repeat center top;z-index:1;margin-left: 645px;}
.active .bg51{margin-left:-550px;opacity: 1;transition-delay: 0.7s;}
.active .bg52{margin-left:-253px;opacity: 1;transition-delay: 0.7s;}
.active .bg53{margin-left:45px;opacity: 1;transition-delay: 0.7s;}
.active .bg54{margin-left:345px;opacity: 1;transition-delay: 0.7s;}


.bg61{width:100%;height:545px;background: url('../images/bg61.png') no-repeat center top;z-index:2;top:-540px;}
.bg62{background: url('../images/bg62.png') no-repeat center top;z-index:3;margin-left:-1100px;left:50%;}
.bg63{position:absolute;z-index:5;bottom:10%;opacity:0;}

.active .bg61{top:0;opacity: 1;transition-delay: 0.7s;}
.active .bg62{margin-left:-800px;opacity: 1;transition-delay: 0.7s;}
.active .bg63{left:50%;margin-left:-300px;bottom:10%;opacity: 1;}
.bg71{width:699px;height:201px;background: url('../images/bg71.png') no-repeat center center;z-index:2;bottom:0px;left:50%;margin-left:-620px;}
.bg72{background: url('../images/bg72.png') no-repeat center center;z-index:3;bottom:-206px;left:50%;margin-left:-720px;}
.bg73{background: url('../images/bg73.png') no-repeat center top;z-index:4;width:651px;height:231px;opacity: 1;left:50%;margin-left:-530px;bottom:140px;}
.bg74{background: url('../images/bg74.png') no-repeat left 46px;z-index:5;width:100%;height:254px;opacity: 1;bottom:0;}
.bg75{position:absolute;z-index:5;bottom:180px;opacity:1;left:50%;margin-left:170px;}

.active .bg71{bottom:201px;opacity: 1;transition-delay: 0.7s;}
.active .bg72{bottom:80px;opacity: 1;transition-delay: 0.7s;}


.bg81{width:100%;background: url('../images/bg81.png') no-repeat center top;height:215px;z-index:2;bottom:10px;opacity: 1;}
.bg82{background: url('../images/bg82.png') no-repeat center top;z-index:3;width:164px;height: 117px;bottom:160px;left:50%;margin-left:-180px;}
.bg83{background: url('../images/bg83.png') no-repeat center bottom;z-index:4;width:70px;height: 29px;bottom:170px;left:50%;margin-left:-330px;}
.bg84{background: url('../images/bg84.png') no-repeat center bottom;z-index:5;width:43px;height: 26px;bottom:180px;left:50%;margin-left:-410px;}
.bg85{width:140px;height:140px;background: #a5c9de;border-radius:50%;position:absolute;z-index:5;bottom:55%;opacity:0.8;left:50%;margin-left:210px;
-webkit-transform:scale(1);-webkit-opacity:1;transition:all 1s;}
.bg85:after{z-index:-1;content:"";
-webkit-opacity:0.5;width:100%;height:100%;left:50%;top:50%;margin-left:-50%;
margin-top: -50%;border-radius:50%;background-color: inherit;
position: absolute;transition:all 1s;
-webkit-animation:breathe 3s infinite ease-in-out .5s;}
.bg86{font-size:12px;z-index:5;color:#fff;width:200px;height:30px;position:absolute;bottom:70%;opacity: 1;transition-delay: 1.0s;left:50%;margin-left:370px;}
.bg86 span{color:#ccc;font-size: 14px;padding:0 5px;}
.active .bg82{margin-left:-280px;bottom:260px;opacity: 1;transition-delay: 1.0s;}
.active .bg83{margin-left:-430px;bottom:380px;opacity: 1;transition-delay: 1.3s;}
.active .bg84{margin-left:-510px;bottom:420px;opacity: 1;transition-delay: 1.6s;}

.bg91{width:241px;height:311px;background: url('../images/bg91.png') no-repeat left top;z-index:2;left:50%;margin-left:-970px;}
.bg92{width:264px;height:303px;background: url('../images/bg92.png') no-repeat left top;z-index:3;left:50%;margin-left:-180px;}
.bg93{width:325px;height:311px;background: url('../images/bg93.png') no-repeat center top;z-index:4;left:50%;margin-left:450px;}
.active .bg91{margin-left:-570px;bottom:10%;opacity: 1;transition-delay: 0.7s;}
.active .bg92{margin-left:-160px;bottom:10%;opacity: 1;transition-delay: 0.7s;}
.active .bg93{margin-left:250px;bottom:10%;opacity: 1;transition-delay: 0.7s;}

.bg101{width:100%;height:548px;background: url('../images/bg101.png') no-repeat center top;z-index:2;opacity: 1;top:0;}
.bg102{width:254px;height:70px;background: #ffb400;border-radius:10px;z-index:3;bottom:0;margin-left:-125px;left:50%;}
.bg102 a{display: block;width:254px;height:70px;line-height:70px;color:#fff;font-size: 35px;text-align: center;font-weight: bold;}
.bg103{width:555px;height:40px;background: url('../images/bg103.png') no-repeat center top;z-index:4;left:50%;}

.active .bg102{margin-left:-125px;opacity: 1;transition-delay: 0.7s;bottom:20%;}
.active .bg103{margin-left:-250px;opacity: 1;transition-delay: 0.7s;}











