.main {
  width: 640px;
  margin: 0 auto;
  font-size: 14px;
  background: #eee;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}
.head {
  width: 640px;
  height: 70px;
  line-height: 70px;
  position: relative;
  background: #fff;
}
.head span {
  color: #ccc;
  width: 28px;
  height: 35px;
  font-size: 30px;
}
.head_lf {
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
}
.head_mid {
  width: 387px;
  padding-left: 38px;
  position: absolute;
  top: 0;
  left: 70px;
  text-align: center;
}
.head_mid img {
  width: 196px;
  height: 46px;
}
.head_rt {
  width: 110px;
  right: 0;
  position: absolute;
  top: 0;
}
.nav {
  width: 640px;
  height: 70px;
  line-height: 70px;
  position: relative;
}
.nav .nav_main {
  width: 640px;
  overflow: hidden;
}
.nav .nav_main_n {
  overflow-x: scroll;
  overflow-y: hidden;
  background: #ff3333;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav .nav_main_n a {
  color: #fff;
  display: inline-block;
  font-size: 24px;
}
.nav .nav_main_n .cur {
  color: black;
}
.nav .nav_list {
  position: absolute;
  top: 70px;
  left: 0;
  width: 640px;
  z-index: 666;
}
.nav .nav_list a {
  padding: 0 5px;
  color: #333;
  font-size: 24px;
}
.swiper-container2 {
  width: 640px;
  height: 308px;
  color: #fff;
  text-align: center;
}
.swiper-slide2 img {
  width: 100%;
  height: 380px;
}
.swiper-slide2 {
  position: relative;
}
.swiper-slide2 p {
  font-style: italic;
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 0;
}
.pagination {
  position: absolute;
  z-index: 20;
  right: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.change {
  height: 49px;
  line-height: 49px;
  background: #87ceeb;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 18px;
}
/***新闻列表 s **/
.preloader {
  position: absolute;
  left: 0;
  top: -60px;
  z-index: -1;
  color: #fff;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 100%;
  opacity: 0;
  font-size: 20px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.preloader.visible {
  top: 0;
  opacity: 1;
}
.swiper_main {
  width: 1208px;
  overflow: hidden;
}
.main-container {
  width: 604px;
  height: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}
.main-slide {
  width: 100%;
  opacity: 1;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.main-slide-visible {
  opacity: 1;
}
.list {
  width: 600px;
  padding: 18px 20px;
  background: #fff;
}
.list_top h4 {
  padding: 18px;
  height: 28px;
}
.list_top_img {
  width: 100%;
  overflow: hidden;
}
.list_top_img ul {
  width: 100%;
}
.list_top_img .list_sml_img {
  width: 33.333%;
  overflow: hidden;
}
.list_sml_img a {
  padding-right: 20px;
}
.list_top_img .list_sml_img img {
  width: 178px;
  height: 122px;
}
.list_top_img .list_big_img {
  width: 100%;
  overflow: hidden;
}
.list_top_img .list_big_img img {
  width: 100%;
}
.list_top_p {
  height: 68px;
  line-height: 68px;
}
.list_top_p .top_s1 {
  padding: 2px;
  margin-right: 10px;
  border: 1px solid #f8bebe;
  color: rgba(255, 51, 51, 0.9);
  border-radius: 20px;
}
.list_top_p .top_s2 {
  width: 400px;
  text-align: left;
}
.list_top_p .top_s3 {
  width: 100px;
  text-align: right;
}
.list_main {
  padding: 15px 0;
  box-sizing: border-box;
}
.list_main li {
  height: 116px;
  font-size: 18px;
  border-bottom: 1px solid #cccccc;
  padding: 16px 0 22px 0;
}
.list_img {
  width: 151px;
  height: 116px;
  overflow: hidden;
  margin-right: 19px;
}
.list_img img {
  width: 100%;
  height: 100%;
}
.list_rt {
  width: 390px;
  box-sizing: border-box;
}
.list_rt_p1 {
  color: #404040;
  display: block;
  width: 100%;
  font-size: 28px;
  height: 70px;
  line-height: 35px;
  overflow: hidden;
}
.list_rt_p2 {
  display: block;
  height: 40px;
  font-size: 24px;
  color: #888;
}
.list_rt_p2 .rt_s1 {
  padding: 2px;
  margin-right: 15px;
  border: 1px solid #f8bebe;
  color: rgba(255, 51, 51, 0.9);
  border-radius: 20px;
}
.list_rt_p2 .rt_s2 {
  width: 220px;
  padding-top: 10px;
}
.list_rt_p2 .rt_s3 {
  width: 100px;
  text-align: right;
}
.nav_lt {
  background: #f27f99;
  font-size: 30px;
}
.title-slide {
  color: #fff;
}
.banner-container {
  height: 380px;
}
.foots {
  width: 640px;
  height: 100px;
  color: #fff;
  font-size: 50px;
  text-align: center;
  background: #f27f99;
  border-top: 1px solid red;
  position: fixed;
  bottom: 0;
}
