body

.main {
  width: 640px;
  margin: 0 auto;
  font-size: 14px;
  background: #eee;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}
.main2 {
  width: 640px;
  margin: 0 auto;
  font-size: 14px;
  background: #eee;
  position: relative;
}
.head {
  width: 640px;
  height: 70px;
  line-height: 70px;
  position: relative;
  background: #fff;
}
.head span {
  color: #ccc;
  width: 28px;
  height: 35px;
  font-size: 30px;
}
.head_lf {
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
}
.head_mid {
  width: 387px;
  padding-left: 38px;
  position: absolute;
  top: 0;
  left: 70px;
  text-align: center;
}
.head_mid img {
  width: 196px;
  height: 46px;
}
.head_rt {
  width: 110px;
  right: 0;
  position: absolute;
  top: 0;
}
.nav {
  width: 640px;
  height: 70px;
  line-height: 70px;
  position: relative;
}
.nav .nav_main {
  width: 640px;
  overflow: hidden;
}
.nav .nav_main_n {
  overflow-x: scroll;
  overflow-y: hidden;
  background: #ff3333;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav .nav_main_n a {
  color: #fff;
  display: inline-block;
  font-size: 24px;
}
.nav .nav_main_n .cur {
  color: black;
}
.nav .nav_list {
  position: absolute;
  top: 70px;
  left: 0;
  width: 640px;
  z-index: 666;
}
.nav .nav_list a {
  padding: 0 5px;
  color: #333;
  font-size: 24px;
}
.swiper-container2 {
  width: 640px;
  height: 308px;
  color: #fff;
  text-align: center;
}
.swiper-slide2 img {
  width: 100%;
  height: 380px;
}
.swiper-slide2 {
  position: relative;
}
.swiper-slide2 p {
  font-style: italic;
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 0;
}
.pagination {
  position: absolute;
  z-index: 20;
  right: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.change {
  height: 49px;
  line-height: 49px;
  background: #87ceeb;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 18px;
}
/***新闻列表 s **/
.preloader {
  position: absolute;
  left: 0;
  top: -60px;
  z-index: -1;
  color: #fff;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 100%;
  opacity: 0;
  font-size: 20px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.preloader.visible {
  top: 0;
  opacity: 1;
}
.swiper_main {
  width: 1208px;
  overflow: hidden;
}
.main-container {
  width: 604px;
  height: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}
.main-slide {
  width: 100%;
  opacity: 1;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.main-slide-visible {
  opacity: 1;
}
.list {
  width: 600px;
  padding: 18px 20px;
  background: #fff;
}
.list_top h4 {
  padding: 18px;
  height: 28px;
}
.list_top_img {
  width: 100%;
  overflow: hidden;
}
.list_top_img ul {
  width: 100%;
}
.list_top_img .list_sml_img {
  width: 33.333%;
  overflow: hidden;
}
.list_sml_img a {
  padding-right: 20px;
}
.list_top_img .list_sml_img img {
  width: 178px;
  height: 122px;
}
.list_top_img .list_big_img {
  width: 100%;
  overflow: hidden;
}
.list_top_img .list_big_img img {
  width: 100%;
}
.list_top_p {
  height: 68px;
  line-height: 68px;
}
.list_top_p .top_s1 {
  padding: 2px;
  margin-right: 10px;
  border: 1px solid #f8bebe;
  color: rgba(255, 51, 51, 0.9);
  border-radius: 20px;
}
.list_top_p .top_s2 {
  width: 400px;
  text-align: left;
}
.list_top_p .top_s3 {
  width: 100px;
  text-align: right;
}
.list_main {
  padding: 15px 0;
  box-sizing: border-box;
}
.list_main li {
  height: 116px;
  font-size: 18px;
  border-bottom: 1px solid #cccccc;
  padding: 16px 0 22px 0;
}
.list_img {
  width: 151px;
  height: 116px;
  overflow: hidden;
  margin-right: 19px;
}
.list_img img {
  width: 100%;
  height: 100%;
}
.list_rt {
  width: 390px;
  box-sizing: border-box;
}
.list_rt_p1 {
  color: #404040;
  display: block;
  width: 100%;
  font-size: 28px;
  height: 70px;
  line-height: 35px;
  overflow: hidden;
}
.list_rt_p2 {
  display: block;
  height: 40px;
  font-size: 24px;
  color: #888;
}
.list_rt_p2 .rt_s1 {
  padding: 2px;
  margin-right: 15px;
  border: 1px solid #f8bebe;
  color: rgba(255, 51, 51, 0.9);
  border-radius: 20px;
}
.list_rt_p2 .rt_s2 {
  width: 220px;
  padding-top: 10px;
}
.list_rt_p2 .rt_s3 {
  width: 100px;
  text-align: right;
}
.swiper-wrapper2 {
  height: 70 1px;
}
.nav {
  overflow: hidden;
}
.nav_lt {
  height: 70 1px;
  background: #f27f99;
  font-size: 30px;
  cursor: pointer;
}
.nav_lt .title-slide {
  color: #fff;
  height: 70px;
}
.banner-container {
  height: 380px;
}
.wap-container {
  height: 500px;
  background: pink;
}
.list_wap_lf {
  width: 100px;
  height: 500px;
  overflow: hidden;
}
.list_wap_lf li {
  width: 100px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  background: pink;
  text-align: center;
  color: #fff;
}
.list_wap_rt {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 1px solid red;
  box-sizing: border-box;
}
.list_wap_rt .icon-menu,
.three-container .icon-menu,
.center-container .icon-menu {
  display: block;
}
.wap_rt_container {
  width: 500px;
  height: 300px;
}
.wap_rt_container .swiper-scrollbar2 {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: 1;
}
.scroll-slide1 {
  width: 250px;
}
.scroll-slide2 {
  width: 500px;
}
.scroll-slide3 {
  width: 300px;
}
.scroll-slide4 {
  width: 400px;
}
.swiper-slide_scroll {
  width: 1520px;
  padding: 20px;
  background: #fff;
}
.three-container {
  width: 640px;
  height: 120px;
  color: #fff;
  text-align: center;
}
.pagination2 {
  position: absolute;
  z-index: 20;
  left: 50%;
  margin-left: -350px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.device {
  width: 640px;
  position: relative;
  margin: 10px auto;
  height: 250px;
  padding: 30px 40px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 3px solid #fff;
  box-shadow: 0px 0px 5px #000;
}
.swiper-slide-visible {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.swiper-slide-visible5 {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.swiper-slide-active {
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.pagination3 {
  position: absolute;
  z-index: 20;
  left: 0px;
  width: 100%;
  text-align: center;
  bottom: 5px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #aaa;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  position: relative;
  top: -50px;
}
.swiper-visible-switch {
  opacity: 1;
  top: 0;
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.net-slide {
  height: 50px;
  background: red;
}
.new {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.preloader {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 0;
  color: #fff;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100%;
  opacity: 0;
  font-size: 25px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background: rgba(0, 0, 0, 0.1);
}
.preloader.visible {
  top: 0;
  opacity: 1;
}
.new .load-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}
.load-container .icon-menu {
  display: block;
}
.load-slide {
  width: 100%;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.foots {
  z-index: 9999;
  width: 640px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  font-size: 50px;
  text-align: center;
  background: #f27f99;
  border-top: 1px solid #ff0000;
  position: fixed;
  bottom: 0;
}
