@charset "utf-8";
/*CSS reset*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  margin: 0;
  -webkit-user-select: none;
}
body * {
  -webkit-user-select: none;
  font-family: Helvetica;
}
body {
  -webkit-text-size-adjust: 100%;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: top;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
input[type="submit"],input[type="reset"],input[type="button"]{-webkit-appearance:none; }

ins,a{text-decoration:none;}
a{outline:none;color:#333;}
input::-moz-focus-inner{border:0;}/*火狐虚线框*/
a:hover{text-decoration:underline;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.nav_banner img{opacity: 1!important;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow:0 0 0 60px #fff inset;
    -webkit-text-fill-color: #333;
}


::-webkit-input-placeholder{color:#ccc;font-size:14px;}
::-moz-placeholder{color:#ccc;font-size:14px;}/* firefox 19+ */
:-ms-input-placeholder{color:#ccc;font-size:14px;}/* ie */
input:-moz-placeholder{color:#ccc;font-size:14px;}
.bgf5{ background-color:#f5f5f5;}

.clearfix:after {clear: both;content: "";display: block;font-size: 0;height: 0;visibility: hidden;}
* html .clearfix{ zoom:1;}
*+ html .clearfix{ min-height:1px;}

.none{display: none;}
.show{display: block;}

/*Width & Height*/
.w{ width:100%;}
.h{ height:100%;}


/*other*/
.cp{ cursor:pointer;}
.oyu{overflow-y:auto; overflow-x: hidden;}

/*Location*/
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{margin-left:0; margin-right:0;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.cb{ clear:both;}
.cl{ clear:left;}
.cr{ clear:right;}
.clearfix:after{content: "."; display: block; height: 0; line-height:0; clear: both; visibility: hidden;}
.clearfix{ /*display:inline-block; clear:both;*/}
*html .clearfix{ height:1%;}
*html .clearfix{ display:block;}
.vm{ vertical-align:middle;}
.vt{ vertical-align:top;}
.pr{ position:relative;}
.pa{ position:absolute;}
.zoom{ zoom:1;}
.hidden{ visibility:hidden;}
.none{ display:none;}
.db{ display:block;}
.inb{ display:inline-block;}
.inb{ *display:inline; _display:inline}

/*强制换行不换行*/
.nowrap{ white-space:nowrap;}
.ell{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
// @font-face{font-family:'iconfont';src:url(http://mm.bst.126.net/css/fonts/iconfont.eot?ba4cbc537134cf2e9e25b87b062e7d31);src:url(http://mm.bst.126.net/css/fonts/iconfont.eot?#iefix) format('embedded-opentype'), 
//   url(http://mm.bst.126.net/css/fonts/iconfont.woff?7ce3848113b54e420473577e49728471) format('woff'), 
//   url(http://mm.bst.126.net/css/fonts/iconfont.ttf?342c9a165f0fbca7ffedc4fd6316319b) format('truetype'), 
//   url(http://mm.bst.126.net/css/fonts/iconfont.svg?c27d58c0efd7fcf019fdbbeb69fe0c59) format('svg');

// }
  
.iconfont{  font-family: "iconfont" !important;font-size:16px;color:#999;}

     @font-face {font-family: "iconfont";
          src: url('../font/iconfont.eot'); /* IE9*/
          src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
          url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }
     
        .iconfont {
          font-family:"iconfont" !important;
          font-size:0.24rem;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.004rem;
          -moz-osx-font-smoothing: grayscale;
        }

.list-more {
 
  bottom:0;
  background: #eee;
  height: 0.7rem;
  
  width: 7.5rem;
  position: fixed;
  bottom: 0;
  
}
.loading-wrap {
  height: 0.7rem;
  line-height: 0.7rem;
  margin: 0 auto;
  display: table;
  position: relative;
}
.loading {
  width: .5rem;
  height: .5rem;
  float: left;
  -webkit-animation: load2 1.5s infinite linear;
  animation: load2 1.5s infinite linear;
  -webkit-animation-name: load2;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

.loading .loading-icon {
  text-align: center;
  font-size: .45rem;
  display: inline-block;
  vertical-align: middle;
  width: .5rem;
  height: .5rem;
  color: #999;
  background: url(../images/load.gif) no-repeat left center;

}
.loadtext {
  line-height: .5rem;
  margin-left: .2rem;
  color: #888;
  display: inline-block;
  vertical-align: middle;
}